@font-face {
  font-family: Shentox;
  src: url("https://next.tnwcdn.com/assets/next/fonts/shentox-medium.woff2")
      format("woff2"),
    url("https://next.tnwcdn.com/assets/next/fonts/shentox-medium.woff")
      format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Graphik;
  src: url("https://next.tnwcdn.com/assets/next/fonts/graphik-regular.woff2")
      format("woff2"),
    url("https://next.tnwcdn.com/assets/next/fonts/graphik-regular.woff")
      format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url("https://next.tnwcdn.com/assets/next/fonts/graphik-medium.woff2")
      format("woff2"),
    url("https://next.tnwcdn.com/assets/next/fonts/graphik-medium.woff")
      format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: TNW Avalon;
  src: url("https://next.tnwcdn.com/assets/next/fonts/tnw-avalon-bold.woff2")
      format("woff2"),
    url("https://next.tnwcdn.com/assets/next/fonts/tnw-avalon-bold.woff")
      format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Trump Soft Pro;
  src: url("https://next.tnwcdn.com/assets/next/fonts/trump-soft-pro-bold.woff2")
      format("woff2"),
    url("https://next.tnwcdn.com/assets/next/fonts/trump-soft-pro-bold.woff")
      format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
