header {
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.15);

  & > * + * {
    padding-left: 1rem;
  }

  nav,
  .mail {
    display: none;
  }

  .material-icons {
    font-size: 2rem;
  }

  svg {
    position: relative;
    top: 0.25rem;
    color: $border-color;
    height: 1.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: 1024px) {
  header {
    justify-content: space-between;
    align-items: center;

    .apps {
      display: none;
    }

    nav {
      display: block;

      ul {
        display: flex;
        flex-direction: row;
        font-family: Shentox;
        list-style-type: none;
        color: darken($font-color, 30%);

        li {
          align-self: center;
          padding: 1rem;
          text-transform: uppercase;

          &:hover {
            cursor: pointer;
          }
        }

        .chevron {
          transform: translateY(-0.5rem);

          span {
            transform: translateY(0.5rem);
          }
        }

        span {
          padding: 0 1rem;
        }
      }
    }

    .mail {
      display: block;
      color: darken($site-background, 30%);

      &:hover {
        cursor: pointer;
      }
    }
  }
}
